Source: ros-hydro-routine-behaviours
Section: misc
Priority: extra
Maintainer: Nick Hawes <n.a.hawes@cs.bham.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-dynamic-reconfigure, ros-hydro-scitos-msgs, ros-hydro-std-msgs, ros-hydro-std-srvs, ros-hydro-strands-executive-msgs, ros-hydro-strands-navigation-msgs, ros-hydro-task-executor
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-routine-behaviours
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-dynamic-reconfigure, ros-hydro-mongodb-store, ros-hydro-scitos-msgs, ros-hydro-std-msgs, ros-hydro-std-srvs, ros-hydro-strands-executive-msgs, ros-hydro-strands-navigation-msgs, ros-hydro-task-executor
Description: Code to generate routine robot behaviours, including repsonses to idle and low charge situations.
